/* app css stylesheet */

body {
  padding-top: 20px;
}


.product-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.products {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.products li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.product {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.product:first-child {
  display: block;
}

ul.colour-thumbs,
ul.product-thumbs {
  padding: 0;
  margin: auto;
  list-style: none;
}

ul.product-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.product-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.product-thumbs img:hover {
  cursor: pointer;
}

.configurator-middle {
    padding: 2em;
}

.configurator-middle h2 {
    text-transform: uppercase;
}

.configurator-middle p {
    padding-top: 1em;
    line-height: 2em;
}

.configurator-pad {
    padding: 1em;
}

.nav-pad {
    margin-bottom: 2px;
}

.nav-pad > li > a {
    text-transform: uppercase;
    padding: 18px 15px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #f9f9f9;
    border-radius: 0;
    border: 1px #dfdfdf solid;
}

.nav-pad > li.hover > a,
.nav-pad > li.active > a,
.nav-pad > li.active > a:active,
.nav-pad > li.active > a:hover {
    color: #4b7df7;
    background-color: white;
    border: none;
}

ul.configurator-hotspots {
    margin: auto;
    list-style: none;
    padding: 0;
}

ul.configurator-hotspots li {
    border: 1px solid dimgrey;
    display: inline-block;
    background-color: white;
}

ul.configurator-hotspots img {
    height: 120px;
    width: 70px;
}

ul.configurator-hotspots img:hover {
    cursor: pointer;
}

ul.configurator-hotspots li:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #5B92FA;
    content: " ";
    display: block;
    height: 0;
    margin: 0 0 0 28px;
    position: absolute;
    width: 0;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span {
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

.col-max-width {
    max-width: 1080px;
}

.view-container {
    background-color: #f2f2f2;
}

.product-image-box {
    background-color: white;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.product-image-box img {
    padding-top: 123px;
}

.product-side-bar {
    padding: 0;
}

.product-side-bar .tab-content {
    background-color: white;
}

.colour-pad {
    padding: 2em 4em;
}

.colour-pad p {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

ul.colour-thumbs li {
    display: inline-block;
    margin: 0.5em;
}

span.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

span.label-brandividual {
    background-color: #4b7df7;
}

body {
    background-color: #f2f2f2;
}

span.label-tag {
    font-weight: normal;
    font-size: 14px;
    margin: 6px;
}