<div class="container-fluid">
    <div class="row configurator-pad">
        <div class="col-md-5 col-md-offset-2">
            <div class="product-image-box">
                <img class="center-block" ng-src="{{mainImageUrl}}" class="phone">
            </div>
        </div>
        <div class="col-md-3 product-side-bar">
            <ul class="nav nav-pills nav-justified nav-pad">
                <li class="active"><a data-target="#product" data-toggle="tab">Product Description</a></li>
                <li><a data-target="#customise" data-toggle="tab">Customise</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="product">
                    <div class="configurator-middle">
                        <h2>{{product.name}}</h2>

                        <p>{{product.description}}</p>

                        <p><span class="subtitle">Tags</span></p>
                        <div class="tag-cloud">
                            <span class="label label-brandividual label-tag" ng-repeat="tag in product.tags">{{tag}}</span>
                            <p>
                            <span class="label label-success label-tag" ng-repeat="tag in product.userTags">{{tag}}</span>
                        </div>

                        <p><span class="subtitle">Thumbnails</span></p>
                        <div class="row">
                            <div class="col-xs-6 col-md-3" ng-repeat="img in product.images">
                                <a class="thumbnail">
                                    <img ng-src="{{img}}" ng-click="setImage(img)">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customise">
                    <div class="configurator-top">

                        <ul class="nav nav-pills nav-justified nav-pad">
                            <li class="active"><a data-target="#logo" data-toggle="tab">Logo</a></li>
                            <li><a data-target="#sole" data-toggle="tab">Sole</a></li>
                            <li><a data-target="#overlay" data-toggle="tab">Overlay</a></li>
                            <li><a data-target="#lining" data-toggle="tab">Lining</a></li>
                        </ul>

                        <div class="tab-content colour-pad">
                            <div class="tab-pane active" id="logo">
                                <p>warm</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/1-blood-orange.png"/></li>
                                    <li><img src="img/colours/2-sun-orange.png"></li>
                                    <li><img src="img/colours/3-yellow.png"></li>
                                </ul>
                                <p>cool</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/4-navy.png" ng-click="setImage('img/phones/nike.png')"></li>
                                    <li><img src="img/colours/5-sky.png"></li>
                                    <li><img src="img/colours/6-purple.png"></li>
                                    <li><img src="img/colours/7-teal.png"></li>
                                    <li><img src="img/colours/8-green.png"></li>
                                </ul>
                                <p>mono</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/9-black.png"/></li>
                                    <li><img src="img/colours/10-grey.png"></li>
                                    <li><img src="img/colours/11-white.png" ng-click="setImage('img/configurator/nike-1.png')"></li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="sole">
                                <p>cool</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/4-navy.png"></li>
                                    <li><img src="img/colours/7-teal.png"></li>
                                    <li><img src="img/colours/8-green.png"></li>
                                </ul>
                                <p>mono</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/9-black.png" ng-click="setImage('img/configurator/nike-2.png')"></li>
                                    <li><img src="img/colours/10-grey.png"></li>
                                    <li><img src="img/colours/11-white.png" ng-click="setImage('img/configurator/nike-1.png')"></li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="overlay">
                                <p>warm</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/1-blood-orange.png"/></li>
                                    <li><img src="img/colours/2-sun-orange.png"></li>
                                    <li><img src="img/colours/3-yellow.png"></li>
                                </ul>
                                <p>cool</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/4-navy.png"></li>
                                    <li><img src="img/colours/5-sky.png"></li>
                                    <li><img src="img/colours/6-purple.png"></li>
                                    <li><img src="img/colours/7-teal.png"></li>
                                    <li><img src="img/colours/8-green.png" ng-click="setImage('img/configurator/nike-3.png')"></li>
                                </ul>
                                <p>mono</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/9-black.png"/></li>
                                    <li><img src="img/colours/10-grey.png"></li>
                                    <li><img src="img/colours/11-white.png" ng-click="setImage('img/configurator/nike-2.png')"></li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="lining">
                                <p>warm</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/1-blood-orange.png"/></li>
                                    <li><img src="img/colours/2-sun-orange.png"></li>
                                    <li><img src="img/colours/3-yellow.png"></li>
                                </ul>
                                <p>cool</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/4-navy.png" ng-click="setImage('img/configurator/nike-3.png')"></li>
                                    <li><img src="img/colours/6-purple.png"></li>
                                    <li><img src="img/colours/8-green.png"></li>
                                </ul>
                                <p>mono</p>
                                <ul class="colour-thumbs">
                                    <li><img src="img/colours/9-black.png"/></li>
                                    <li><img src="img/colours/10-grey.png"></li>
                                    <li><img src="img/colours/11-white.png" ng-click="setImage('img/configurator/nike-4.png')"></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>