* {
    padding: 0;
    margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(247, 247, 247);
}

a:hover, a:active, a:focus {
    float: none;
}

a:link, a.visited {
	text-decoration: none;
}

#header
{
    width: 100%;
    position:fixed;
    top:0;
	z-index: 100;
	display: block;
}

#logo
{
    width: 100%;
    height: 45px;
    background-color: white;
	border-bottom-color: rgb(228,228,228);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: block;
}

#logo img
{
	width: 190px;
	height: 45px;
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#nav 
{
    background-color: rgb(245,245,245);
    width: 100%;
    height: 25px;
	-moz-box-shadow: 0 5px 5px #e6e6e6;
    -webkit-box-shadow: 0 5px 5px #e6e6e6;
    box-shadow: 0 5px 5px #e6e6e6;
}

#banner
{
	margin-top: 70px;
}

#banner img
{
	height: auto;
	width: 100%;

}

#dashboard
{
	margin-top: 70px;
}

#dashboard img
{
	height: auto;
	width: 100%;

}

#container
{
    width: 900px;
    margin-top: 70px;
    margin: 0 auto;
}

#trending, #categories, #brands, #creators {
    padding-top: 80px;
	height: 600px;
}

#trending .image, #categories .image, #brands .image, #creators .image {
    margin: 5px 10px 0 10px;
	/*padding: 5px 5px 0 5px;*/
	width: 200px;
	height: 200px;
    float: left;
	
    -moz-border-top-right-radius: 5px; /* Firefox */
    -webkit-border-top-right-radius: 5px; /* Safari, Chrome */
    border-top-right-radius: 5px; /* CSS3 */

    -moz-border-top-left-radius: 5px; /* Firefox */
    -webkit-border-top-left-radius: 5px; /* Safari, Chrome */
    border-top-left-radius: 5px; /* CSS3 */

}

.image1 { background-image: url('images/image%20(1).jpg'); background-size: 200px 200px; }
.image2 { background-image: url('images/image%20(2).jpg'); background-size: 200px 200px; }
.image3 { background-image: url('images/image%20(3).jpg'); background-size: 200px 200px; }
.image4 { background-image: url('images/image%20(4).jpg'); background-size: 200px 200px; }
.image5 { background-image: url('images/image%20(5).jpg'); background-size: 200px 200px; }
.image6 { background-image: url('images/image%20(6).jpg'); background-size: 200px 200px; }
.image7 { background-image: url('images/image%20(7).jpg'); background-size: 200px 200px; }
.image8 { background-image: url('images/image%20(8).jpg'); background-size: 200px 200px; }
.image9 { background-image: url('images/image%20(9).jpg'); background-size: 200px 200px; }
.image10 { background-image: url('images/image%20(10).jpg'); background-size: 200px 200px; }
.image11 { background-image: url('images/image%20(11).jpg'); background-size: 200px 200px; }
.image12 { background-image: url('images/image%20(12).jpg'); background-size: 200px 200px; }
.image13 { background-image: url('images/image%20(13).jpg'); background-size: 200px 200px; }
.image14 { background-image: url('images/image%20(14).jpg'); background-size: 200px 200px; }
.image15 { background-image: url('images/image%20(15).jpg'); background-size: 200px 200px; }
.image16 { background-image: url('images/nike-1.png'); background-size: 200px 200px; }

.brand { background-image: url('images/Brand.gif');  background-size: 200px 200px; }
.person { background-image: url('images/person.png');  background-size: 200px 200px; }


#trending .image:hover
{
	background-image: url('images/overlay2.png');
}

.imgDescription {
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
    margin: 0 10px 10px 10px;
	padding: 2px 5px 5px 5px;
	width: 190px;
	height: 50px;
	background-color: white;
	float: left;
}

.header {
	font-size: Large;
	padding-bottom: 20px;
}

.searchTags {
    height: 25px;
    float: right;
    padding: 0 10px;
    color: white;
	background-color: rgb(245,245,245);
}

.searchTags  input {
	padding-left: 10px;
	font-size: 19px;
	background-color: #fff;
	background-image: none;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out; .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

.searchTags button {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 19px;
	background-color: #fff;
	background-image: none;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out; .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navLinks {
	margin: 0 auto;
}

.navLinks ul {
     list-style: none;   
}

.navLinks ul li {
    float: left;
    padding: 0px 20px 0px 20px;
    border:0;
    height: 23px;
	background-color: rgb(245,245,245);
}

.navLinks ul li a {
    color: black;
	font-size: 19px;
	background-color: rgb(245,245,245);
}